* {
  font-family: Helvetica, sans-serif;
  background-color: hsla(0, 0%, 31%, 1);

}

h1 {
  color: SeaGreen;
}
.red-wines h2 {
  color: hsla(360, 91%, 20%, 1);
}

.white-wines h2 {
  color: hsla(65, 100%, 80%, 1);
}

#pinot {
  color: hsla(336, 91%, 23%, 0.84);
}
